# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
public/.DS_Store
.scannerwork
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
# Dependency directories (remove the comment below to include it)
# vendor/
.env
.env.production
.idea/
tests/tmp/
.vscode
main
producao.zip
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
.gebug/Dockerfile
access.log
contratos/*.pdf
contratos/zips/*.zip